@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import "tailwindcss";
@tailwind utilities;
@plugin "daisyui";

@tailwind utilities;


@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-text: #050315;
  --color-base-100: #e0f7fa;
  /* --color-primary: #8bc3d0; */
  /* --color-primary: #006064; */
  --color-primary: #0097a7;
  --color-secondary: #80deea;
  /* --color-secondary: #4dd0e1; */
  --color-accent: #b2ebf2;
}

.active {
  @apply text-[#050315] font-bold ;
}



/* Optional: Apply Lato as global default font */
body {
  font-family: 'Lato', sans-serif;
}